<div>
  <label>
    Primer número:
    <input type="text" [(ngModel)]="first">
  </label>
  <label>
    Segundo número:
    <input type="text" [(ngModel)]="second">
  </label>
  <label>
    Operación:
    <select name="operations" id="op"  [(ngModel)]="operation">
      <option value="+">+</option>
      <option value="-">-</option>
      <option value="*">*</option>
      <option value="'">/</option>
    </select>
  </label>

  <div><h2>Total:{{total}}</h2></div>
  <div>
    <button (click)="doOperation()">Ejecutar operación</button>
  </div>

  <div>
    <h1>Historial</h1>
    <button (click)="updateHistorical()">Actualizar historial</button>
    <ul>
      <li *ngFor="let item of historical"> {{item}}</li>
    </ul>
  </div>
</div>
